/laskarit/viikko2/Unicafe/target
/Maksukortti/nbproject/private/
/Maksukortti/build/
/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Maksukortti ja kassapääte/nbproject/private/
/laskarit/viikko2/Maksukortti ja kassapaate/nbproject/private/
/laskarit/viikko2/MaksukorttiJakassapaate/nbproject/private/
/laskarit/viikko2/MaksukorttiJakassapaate/MaksukorttiJaKassapaate/nbproject/private/
/laskarit/viikko2/Unicafe/Unicafe/nbproject/private/
/laskarit/viikko2/Unicafe/nbproject/